body {
    background: white;
}

.navbar {
    background: #723911;
}

a {
    color: black;
}

h1, h2, h3 {
    color: grey;
}

#construction {
    color: red;
    text-align: center;
}

footer {
    background: #723911;
}